.CodeMirror {
  height: 100vh !important;
  font-family: Consolas, monaco, monospace;
  font-size: 0.875rem;
}

.react-json-view {
  font-family: Consolas, monaco, monospace !important;
  font-size: 0.875rem !important;
}

.inspector-highlight {
  background: #252525;
}

.bg-custom-dark  {
  background: #101010;
}
