.CodeMirror {
  height: 100% !important;
  font-family: Consolas, monaco, monospace !important;
  font-size: 0.75rem;
}

.react-json-view {
  font-family: Consolas, monaco, monospace !important;
  font-size: 0.75rem !important;
}

.inspector-highlight {
  background: #252525;
}

.bg-custom-dark  {
  background: #101010;
}

.custom-dark  {
  color: #101010;
}
